.main container {
    display: flex;
    align-items:start;
    background-color: #f5f5f5;
    border: 3px solid black;
    border-radius: 10px;
}

.insidecontainer{
    flex:2;
    background-color: rgb(225, 102, 196);
    border-radius: 10px;
    border: 3px solid black;
    
}

.second container{
    flex: 1;
    display: flex;
    border: 3px solid black;
    border-radius: 10px;
}